.wrapper {
    display: flex;
    flex-direction: row; /* 가로축 세로축 정렬 기준 변경 */
    justify-content: center; /* 가로축 정렬 속성 */
    justify-content: flex-end; /* 가로축 정렬 속성 */
    justify-content: flex-start; /* 가로축 정렬 속성 */
    justify-content: space-evenly; /* 가로축 정렬 속성 */
    align-items: center; /* 세로축 정렬 속성 */
    align-items: flex-start; /* 세로축 정렬 속성 */
    align-items: stretch; /* 세로축 정렬 속성 */
    align-items: baseline; /* 세로축 정렬 속성 */

    flex-wrap: nowrap; /* 자식 요소를 부모 요소 안에 포함시키기 여부 */

    background-color: aqua;
    width: 500px;
    height: 500px;

    padding: 10px;

    gap: 10px;
}

.content {
    background-color: antiquewhite;
    font-size: 20px;

    flex-grow: 0; /* 늘어날 수 있게 */
    flex-shrink: 0; /* 줄이기 조절 */

    flex-basis: auto; /* 크기를 조절 */

    flex: 1 1 auto;
}

 .content2 {
    font-size: 10px;
    order: 1;
}

.content3 {
    font-size: 40px;
    order: 0;
} 

/*
    area를 활용하는 gridlayout 참고

    css 주의사항
    - 대소문자 작성에 주의
    - 늘 영어를 사용 (인코딩 이슈)
    - 계층을 잘 탔는지 늘 확인할 것
    - 마크업 순서와 동일한 순서로 작성할 것
*/
